<!--  This file is app/views/movies/index.html.erb -->
<h2>Search local Columbia stores</h2>

<%#  Part 2: Start here... %>

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

<!-- The form -->
<form class="search_store" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<body>

<h2>Stores</h2>
<div class="card-columns">
    <% @movies.each do |movie| %>
        <div class="card " style="width: 14rem; length; 10rem">
          <img src="https://media.istockphoto.com/photos/cheesy-pepperoni-pizza-picture-id938742222?s=612x612" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.release_date %></p>
            <%= link_to "Order", movie_path(movie) %>
          </div>
        </div>
    <% end %>
</div>

</body>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped col-md-12" id="stores">
      <thead>
        <tr>
          <th>Store</th>
          <th>Rating</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td>
              <%= movie.title %>
            </td>
            <td>
              <%= movie.rating %>
            </td>
            <td>
              <%= movie.release_date %>
            </td>
            <td>
              <%= link_to "Order", movie_path(movie) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    
<%= link_to 'Add new restaurant', new_movie_path, :class => 'btn btn-primary' %>
