<!--  This file is app/views/movies/index.html.erb -->
<h2>Search local Columbia stores</h2>

<%#  Part 2: Start here... %>

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
<!-- 
<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
-->

<!-- The form -->
<%= form_tag stores_path, :method => "get" do %>
  <%= text_field_tag :search, params[:search], :size=>"75", placeholder:"Search...", id: 'search-bar' %>
  <%= submit_tag("GO!", :name => "search_button", :class => "btn btn-warning btn-lg", id: 'search-btn')%>
<% end %>
<!--  
<form class="search_store" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
-->


<%= link_to 'Delivery', orders_path("id"), :class => 'btn btn-primary' %>

<body>

<%= form_tag stores_path, :method => :get, :id => 'categories_form' do %>
  <%= hidden_field_tag "name_sort", true if @name_header %>
  <%= hidden_field_tag ":description_sort", true if @description_header %>
  Food Near Me:
  <% @all_categories.each do |category| %>
    <%= category %>
    <span class="checked"></span>
    <%= check_box_tag "categories[#{category}]", 1, @selected_categories.include?(category), :id => "categories_#{category}" %>
  <% end %>
  <%= submit_tag 'Refresh', :id => 'categories_submit', :class => 'btn btn-primary' %>
<% end %>

    
<h2>Stores</h2>
<div class="card-columns">
    <% @stores.each do |store| %>
        <div class="card " style="width: 14rem; length; 10rem">
          <%=image_tag(store.image, class: "card-img-top")%>
          <div class="card-body">
            <h5 class="card-title"><%= store.name %></h5>
            <h5 class="card-title"><%= store.rating %><span class="fa fa-star checked"></span></h5> 
            <p class="card-text"><%= store.category %></p>
            <%= link_to "Order", store_path(store) %>
          </div>
        </div>
    <% end %>
</div>

    
</body>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped col-md-12" id="stores">
        <thead>
        <tr>
          <th class="<%= @name_header %>">
        <%= link_to 'Store Name', stores_path(:sort => 'name', :categories => @selected_categories), :id => 'name_header' %>
          </th>
          
          <th class="<%= @rating_header %>">
        <%= link_to 'Rating', stores_path(:sort => 'rating', :categories => @selected_categories), :id => 'rating_header' %>
          </th>
          
          <th class="<%= @description_header %>">
        <%= link_to 'Description', stores_path(:sort => 'description', :categories => @selected_categories), :id => 'description_header' %>
          </th>
        </tr>
        </thead>
      <tbody>
        <% @stores.each do |store| %>
          <tr>
            <td>
              <%= store.name %>
            </td>
            <td>
              <%= store.rating %>
              <span class="fa fa-star checked"></span>
            </td>
            <td>
              <%= store.description %>
            </td>
            <td>
              <%= link_to "Order", store_path(store) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

   
