<!--  This file is app/views/stores/index.html.erb -->
<h2>Search local Columbia stores </h2>
<%= form_tag stores_path, :method => :get, :id => 'ratings_form' do %>
  <%= hidden_field_tag "name_sort", true if @name_header %>
  <%= hidden_field_tag ":description_sort", true if @description_header %>
  Include:
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating), :id => "ratings_#{rating}" %>
  <% end %>
  <%= submit_tag 'Refresh', :id => 'ratings_submit', :class => 'btn btn-primary' %>
<% end %>

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<div class="input-group col-md-4">
      <input class="form-control py-2" type="search" value="search" id="example-search-input">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
      </span>
</div>

<table class="table table-striped col-md-12" id="stores">
  <thead>
    <tr>
      <th class="<%= @name_header %>">
	<%= link_to 'Store Name', stores_path(:sort => 'name', :ratings => @selected_ratings), :id => 'name_header' %>
      </th>
      <th>Rating</th>
      <th class="<%= @description_header %>">
	<%= link_to 'Description', stores_path(:sort => 'description', :ratings => @selected_ratings), :id => 'description_header' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td>
          <%= store.name %>
        </td>
        <td>
          <%= store.rating %>
        </td>
	<td>
	  <%= store.description %>
	</td>
        <td>
          <%= link_to "Order", store_path(store) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new store', new_store_path, :class => 'btn btn-primary' %>
