<!--  This file is app/views/movies/index.html.erb -->

    
    
<br>
<%= link_to 'Log Out', logout_path, :method => 'delete', :class => 'btn btn-dark btn-lg btn-logout btn-lg' %>
<%= link_to 'My Orders', my_orders_path("id"),  :class => 'btn btn-dark btn-delivery btn-lg' %>
<%= link_to 'Delivery', orders_path("id"), :class => 'btn btn-dark btn-delivery btn-lg' %>


<h1>Search Local Columbia Stores</h2>

  
<%#  Part 2: Start here... %>

<!-- The form -->
<%= form_tag stores_path, :class => 'search', :method => "get" do %>
  <%= text_field_tag :search, params[:search], :size=>"75", placeholder:"Search...", id: 'search_bar' %>
  <%= submit_tag("GO!", :name => "search_button", :class => "btn btn-dark btn-lg", id: 'search_btn')%>
<% end %>

<!--  
<form class="search_store" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form
-->

<body>

<%= form_tag stores_path, :method => :get, :id => 'categories_form' do %>
  <%= hidden_field_tag "name_sort", true if @name_header %>
  <%= hidden_field_tag ":description_sort", true if @description_header %>
  Food Near Me:
  <% @all_categories.each do |category| %>
    <%= category %>
    <span class="checked"></span>
    <%= check_box_tag "categories[#{category}]", 1, @selected_categories.include?(category), :id => "categories_#{category}" %>
  <% end %>
  <%= submit_tag 'Refresh', :id => 'categories_submit', :class => 'btn btn-dark btn-large' %>
<% end %>
<br>
  
    
<div class="card-columns">
    <% @stores.each do |store| %>
        <div class="card" style="width: 18rem; length; 5rem">
          <%=image_tag(store.image, class: "card-img-top")%>
          <div class="card-body">
            <h5 class="card-title"><%= store.name %></h5>
            <h5 class="card-title"><%= store.rating %><span class="fa fa-star checked"></span></h5> 
            <p class="card-text"><%= store.category %></p>
            <%= link_to "Order", store_path(store) %>
          </div>
        </div>
    <% end %>
</div>
    
</body>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped col-md-12" id="stores">
        <thead>
        <tr>
          <th class="<%= @name_header %>">
        <%= link_to 'Store Name', stores_path(:sort => 'name', :categories => @selected_categories), :id => 'name_header' %>
          </th>
          
          <th class="<%= @rating_header %>">
        <%= link_to 'Rating', stores_path(:sort => 'rating', :categories => @selected_categories), :id => 'rating_header' %>
          </th>
          
          <th class="<%= @description_header %>">
        <%= link_to 'Description', stores_path(:sort => 'description', :categories => @selected_categories), :id => 'description_header' %>
          </th>
        </tr>
        </thead>
      <tbody>
        <% @stores.each do |store| %>
          <tr>
            <td>
              <%= store.name %>
            </td>
            <td>
              <%= store.rating %>
              <span class="fa fa-star checked"></span>
            </td>
            <td>
              <%= store.description %>
            </td>
            <td>
              <%= link_to "Order", store_path(store) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>