<!--  app/views/stores/show.html.erb -->
<h2>Details about <em><%= @store.name %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @store.rating %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @store.description %>
</p>



<div class="row">
  <%= link_to 'Find Stores With Same Rating', stores_with_same_rating_path(@store) %>
  <%= link_to 'Edit', edit_store_path(@store), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', store_path(@store), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to store list', stores_path, :class => 'btn btn-primary col-2' %>
</div>